mat-expansion-panel{
    margin: .5em 0em;
}

.percent {
    padding-right: 1em;
}

.amount-left {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    width: 100%;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.expansion-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    mat-form-field {
        flex: 48%;
        margin: 0em .25em;
        
    }
}